*{ margin:0; padding:0;}

html, body {  width:100%; height:100%;background:url(images/fondoazul.jpg) center center no-repeat; background-size:100%;color:#FFF;}

#contenedor1{ display:block; width:100%; height:604px;  position:relative; }
.contenedor2{background:url(images/fondovioleta.jpg) center center no-repeat; background-size:100%;}

.fontbold{font-family: 'centrale_sans_boldregular';}

.fontxbold{font-family: 'centrale_sans_xboldregular';}

#contenedordecajas{ display:block; width:966px; height:604px; left:50%; margin-left:-483px; position:relative;}

#comienzo{ display:block; width:966px; height:604px; position:relative;left:50%; margin-left:-483px;}
.titulocominezo{background:url(images/base_titulo_principal.png) no-repeat;}

.primera{ background:url(images/page1.png) center center no-repeat;}

.segunda{background: url(images/page2.png) center center no-repeat;}

.btcomenzar{ display:block; width:410px; height:110px;  position:absolute; left:50%; margin-left:-205px; bottom:50px; background: url(images/bt_comenzar.png) no-repeat;}


.btcomenzar2{ display:block; width:966px; height:176px;  position:absolute; left:50%; margin-left:-483px; bottom:20px; }


.diez{background:url(images/participas_10.png) no-repeat;}
.veinte{background:url(images/participas_20.png) no-repeat;}
.treinta{background:url(images/participas_30.png) no-repeat;}

.btvolvercomenzar{ display:block; width:600px; height:70px; background: url(images/bt_volveracomenzar.png) center bottom no-repeat; position:absolute; left:50%; margin-left:-300px; bottom:50px;}


.btvolvercomenzar2{ display:block; width:600px; height:110px; background: url(images/bt_volveracomenzar2.png) center center no-repeat; position:absolute; left:50%; margin-left:-300px; bottom:50px;}


.puntosacumulados{
	display: block;
	width: 100px;
	height: 50px;
	position: absolute;
	font-size: 60px;
	line-height: 50px;
	left: 842px;
	top: 52px;
}

.btmito{
	display: block;
	width: 230px;
	height: 70px;
	background: url(images/mito.png) top center no-repeat;
	position: absolute;
	bottom: 35px;
	left: 228px;
}


.btverdad{
	display: block;
	width: 230px;
	height: 70px;
	background: url(images/verdad.png) top center no-repeat;
	position: absolute;
	bottom: 35px;
	left: 473px;
}


.correcto{ background: url(images/correcto1.png) center center no-repeat;}
.correcto2{ background: url(images/correcto2.png) center center no-repeat;}
.correcto3{ background: url(images/correcto3.png) center center no-repeat;}
.ups{ background: url(images/ups.png) center center no-repeat;}
.sumaste{
	display: block;
	width: 966px;
	height: 100px;
	left: 50%;
	margin-left: -483px;
	font-size: 75px;
	text-align: center;
	position: absolute;
	top: 335px;
}

.superaste{ background: url(images/superaste.png) center center no-repeat;}
.elegipremio{ background: url(images/encendetupremio.png) center center no-repeat;}

.limpiar{ clear:both;}


.bombitaspremios{display:block; width:870px; height:320px; position:absolute; left:50%; margin-left:-435px; top:250px;}
.bombitas{ display:block; width:280px; height:320px; margin-left:5px; margin-right:5px; float:left; position:relative;}

.bombita1{ background:url(images/bulbo1.png) no-repeat;}
.bombita2{background:url(images/bulbo1.png) no-repeat;}
.bombita3{background:url(images/bulbo1.png) no-repeat;}

.bombitaspremioresuelto{display:block; width:870px; height:396px; position:absolute; left:50%; margin-left:-435px; top:200px;}

.bombitas2{ display:block; width:280px; height:396px; margin-left:5px; margin-right:5px; float:left; position:relative;}

.diezporc{ background:url(images/10porciento.png) no-repeat;}
.veinteporc{ background:url(images/20porciento.png) no-repeat;}
.treintaporc{ background:url(images/30porciento.png) no-repeat;}

.premiodiez{ background: url(images/ganaste10porciento.png)center center  no-repeat;}
.premioveinte{ background: url(images/ganaste20porciento.png)center center  no-repeat;}
.premiotreinta{ background: url(images/ganaste30porciento.png)center center no-repeat;}


.basepreguntas{ display:block; width:840px; left:50%; margin-left:-445px; background:url(images/backpregunta.png) repeat; position:relative; top:150px; text-align:center; font-size:25px; line-height:25px; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; padding:0 30px 10px 30px;}

.preguntanro{ width:100%; height:auto; margin-bottom:10px;}

.respuestas{ font-size:20px; line-height:23px; margin-bottom:15px; margin-top:15px; text-align:center;}

.elegia{
	display: block;
	width: 300px;
	height: 140px;
	background: url(images/elijo-opcion-A.png) top center no-repeat;
	position: absolute;
	bottom: 0px;
	left: 33px;
}


.elegib{
	display: block;
	width: 300px;
	height: 140px;
	background: url(images/elijo-opcion-B.png) top center no-repeat;
	position: absolute;
	bottom: 0px;
	left: 333px;
}


.elegic{
	display: block;
	width: 300px;
	height: 140px;
	background: url(images/elijo-opcion-C.png) top center no-repeat;
	position: absolute;
	bottom: 0px;
	left: 633px;
}


#respuA{ display:inline-block;}
#respuB{ display:inline-block;}
#respuC{ display:inline-block;}

